<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>jump</key>
		<dict>
			<key>restoreOriginalFrame</key>
			<true/>
			<key>loops</key>
			<integer>-1</integer>
			<key>delayPerUnit</key>
			<real>0.05</real>
			<key>frames</key>
			<array>
				<dict>
					<key>spriteframe</key>
					<string>mario_05.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<key>idle</key>
		<dict>
			<key>restoreOriginalFrame</key>
			<true/>
			<key>loops</key>
			<integer>-1</integer>
			<key>delayPerUnit</key>
			<real>0.05</real>
			<key>frames</key>
			<array>
				<dict>
					<key>spriteframe</key>
					<string>mario_00.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<key>walk</key>
		<dict>
			<key>restoreOriginalFrame</key>
			<true/>
			<key>loops</key>
			<integer>-1</integer>
			<key>delayPerUnit</key>
			<real>0.05</real>
			<key>frames</key>
			<array>
				<dict>
					<key>spriteframe</key>
					<string>mario_03.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>mario_01.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>mario_03.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>mario_02.png</string>
					<key>delayUnits</key>
					<real>1</real>
				</dict>
			</array>
		</dict>
	</dict>
	<key>properties</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>spritesheets</key>
		<array>
			<string>sprite_default.plist</string>
		</array>
	</dict>
</dict>
</plist>
