<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>mario_00.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {12, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{12, 16}</string>
			<key>spriteSourceSize</key>
			<string>{16, 16}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{82, 0}, {12, 16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mario_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {16, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{16, 16}</string>
			<key>spriteSourceSize</key>
			<string>{16, 16}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 18}, {16, 16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mario_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {12, 16}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{12, 16}</string>
			<key>spriteSourceSize</key>
			<string>{16, 16}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{82, 34}, {12, 16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mario_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {14, 16}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{14, 16}</string>
			<key>spriteSourceSize</key>
			<string>{16, 16}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{50, 18}, {14, 16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mario_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {14, 16}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{14, 16}</string>
			<key>spriteSourceSize</key>
			<string>{16, 16}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{34, 0}, {14, 16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mario_05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {16, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{16, 16}</string>
			<key>spriteSourceSize</key>
			<string>{16, 16}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {16, 16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mario_06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {14, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{14, 14}</string>
			<key>spriteSourceSize</key>
			<string>{16, 16}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{82, 18}, {14, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mario_07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {14, 16}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{14, 16}</string>
			<key>spriteSourceSize</key>
			<string>{16, 16}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{50, 0}, {14, 16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mario_08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {12, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{12, 16}</string>
			<key>spriteSourceSize</key>
			<string>{16, 16}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{96, 0}, {12, 16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mario_09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {14, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{14, 16}</string>
			<key>spriteSourceSize</key>
			<string>{16, 16}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{18, 18}, {14, 16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mario_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {14, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{14, 16}</string>
			<key>spriteSourceSize</key>
			<string>{16, 16}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{66, 0}, {14, 16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mario_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {14, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{14, 16}</string>
			<key>spriteSourceSize</key>
			<string>{16, 16}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{18, 0}, {14, 16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mario_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {14, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{14, 16}</string>
			<key>spriteSourceSize</key>
			<string>{16, 16}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{66, 18}, {14, 16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mario_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {14, 16}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{14, 16}</string>
			<key>spriteSourceSize</key>
			<string>{16, 16}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{34, 18}, {14, 16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>sprites.zwd</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>sprites_default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>sprites_default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>